
* {
    font-family: "Nanum gothic", sans-serif;
  
}

:root {
   --maincolour: #e9e7d9;
   --blacktext: #000000; 
   --whitetext: #ffffff;
}
/* Basic Page Styles */

.body {
    width:100%;
    margin: 0;
    padding: 0;
    background-color: var(--maincolour);
    color: #0a0000;
}
    
header {
    width: 100%;   
    border-bottom: solid 5px #ff838a;;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
}

.logo_container {
    flex: 0 0 33%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
} 

.header_title {
    width: 100%;
    text-align: center;
    color: #ff838a;
    margin-bottom: 10px;
}

.navheader {
    flex: 0 0 66%;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }
   
nav {
    width: 30%;
    top: 0;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 35px;
    padding: 50px;    
}

nav ul li {
    justify-content: right;
    flex: 0 0 50px;
    margin: 0 20px;
}

nav ul li a {
    font-weight: 300;
    text-decoration: none;
    font-size: x-large;
    color: var(--blacktext);
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff838a;
}



.banner {
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px;
    background-color: white;    
    border-top: solid 2px rgb(255, 255, 255);
}

.carousel_banner {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    margin-top: 50px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}


.carousel-inner {
    height:  fit-content;
    flex: 0 1 100%; 
    flex-wrap: wrap;
    
    } 

  
    
.item:active {
     display: inline-block;

}


.carousel-indicators{
     display: inline-flex;
    transform: translate(0px);

}

.active {
    display: flex;
    flex-direction: row;
}

.company_info_container {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.company_info {
    flex: 0 1 auto;
    justify-content: left;
    background-color: var(--whitetext);
    padding: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

.text {
    text-align: left;
    width:100%;
    position: absolute;
    top: 8px;
    left: 16px;
    padding: none;
    color:#1ecfcf;
    background-color: crimson;
}

.strap {
    width: 100%;
    justify-content: center;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button {
    flex-direction: row;
    font-size: xx-large;  
    border: solid 5px #ff838a;
    background-color: #ff838a;
    color: black;   
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin: 20px;
}

.button:hover {
    cursor: pointer;
    border: solid 5px #ff838a;
    background-color: #ffffff;  
}


@media only screen and (max-width: 400px) {

    .body {
        width: 100%
       font-size: small;
        margin: 0;
        padding: 0;
        background-color: var(--maincolour);
        color: #0a0000;
    }
        

    .carousel-inner {
        width: 350px;
       flex: 0 0 100%; 
        flex-wrap: wrap;
        } 

        .carousel_banner {
            display: flex;
            flex-direction: row;
            text-align: center;
            width: 350px;
           
            background-color: #ffffff;
            margin-top: 50px;
        }
        

  .services_banner {
       width: 100%;
       
    }

    .services {
       width: 100%;
     }
    
    .services2 {
      width: 100%;
    }

    .service_box_container {
        width: 100%;
        flex-wrap: wrap;
        display: flex; 
        flex-direction: column; 
        width: fit-content; 
        position: relative;
        justify-content: space-between;
        background-color: var(--whitetext);
        padding: 5px;
        padding-top: 20px;
        background-color: rgb(255, 255, 255);
        
    }
    

    .service_box {
        
        height: 300px;
        width: 350px;
        margin-bottom: 30px;
        padding: 25px;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        background-color:rgb(255, 255, 255);
        border-radius: 0px;
        border: solid 4px #ff838a;
        padding-bottom: 40px;
        margin: 20px;
    }
    
    .service_box_1 {
       
        height: 300px;
        width: 350px;
        margin-bottom: 30px;
        padding: 25px;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        background-color:rgb(255, 255, 255);
        border-radius: 0px;
        border: solid 4px #ff838a;
        padding-bottom: 40px;
    }
    
    .service_box_2 {
        
        height: 300px;
        width: 350px;
        margin-bottom: 30px;
        padding: 25px;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        background-color:rgb(255, 255, 255);
        border-radius: 0px;
        border: solid 4px #ff838a;
        padding-bottom: 40px;
    }
    

    .services2_image {
        width: 350px;
                }


                
    footer {
        width: 100%;
        background-color: #ff838a;
        border-top: solid 5px #ff838a;
       
    }
    

   .navfooter {
        display: none;
        
        
    }




    .social {
       width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        
    }


    .fa {
        padding: 10px;
        font-size: 10px;
        width: 15px;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        margin: 1px 3px;
        border-radius: 50%;
    }
      

    .footer_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

   
} 

.services_banner {
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color:rgb(255, 255, 255);
    Padding-left: 50px;
    padding-top: 50px;
    justify-content: center;
}


.services {
    flex-wrap: wrap;
    display: flex;  
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: var(--whitetext);
    padding: 5px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    margin-right: 40px;
}

.service_box_container {
    flex-wrap: wrap;
    display: flex; 
    flex-direction: column; 
    width: 400px;
    position: relative;
    justify-content: left;
    background-color: var(--whitetext);
    padding: 5px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    margin-right: 40px;
}


.services2 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
    justify-content: left;
    background-color: var(--whitetext);
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
}

.services2_text {
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    line-height: 2.5lh;
    

}

.services2_image {
width: 100%;

}

.service_box {
    flex: 1 1 375px;
    height: 300px;
    width: 400px;
    margin-bottom: 30px;
    padding: 25px;
    margin-left: 50px;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    border-radius: 0px;
    border: solid 4px #ff838a;
    padding-bottom: 40px;
}

.service_box_1 {
    flex: 1 1 375   px;
    height: 300px;
    width: 400px;
    margin-bottom: 30px;
    padding: 25px;
    margin-left: 50px;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    border-radius: 0px;
    border: solid 4px #ff838a;
    padding-bottom: 40px;
}

.service_box_2 {
    flex: 1 1 300px;
    height: 300px;
    width: 400px;
    margin-bottom: 30px;
    padding: 25px;
    margin-left: 50px;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    border-radius: 0px;
    border: solid 4px #ff838a;
    padding-bottom: 40px;
}

.p1 {
    font-size: 20px;
    padding: 40px;
    line-height: 2.5lh;
}

.p1::before {
    font-size: 50px;
    color: #ff838a;
    content: open-quote;
}
    
.p1::after {
    font-size: 50px;
    color: #ff838a;
    content: close-quote;
}

p {
    font-size: 20px;
    padding-left: 10px;
    line-height: 2.5lh;
    width: 100%;
}


.service_box2 {
    flex-wrap: wrap;
    display: block;
    max-width: 100%;
    margin: 10%;
    padding: 20px;
    margin-left: 50px;
    justify-content:space-around;
    background-color: #1ecfcf;
    border-color: #4d88944b;
    font-family: "Nanum gothic";
}

.service_box3 {
    flex-wrap: wrap;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10%;
    padding: 20px;
    justify-content:space-around;
    background-color: #1ecfcf;
    border-color: #4d88944b;
    font-family: "Nanum gothic";
}

.testemonial {
    text-align: end;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    color: #ff838a;
}
  
.service_image {
    width: 100%
}

.main_footer {
    width: 100%;
}

/* Footer Styles */
footer {
    width: 100%;
    background-color: #ff838a;
    padding: 10px;
    padding-right: 70px;
    border-top: solid 5px #ff838a;
}

.footer_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.navfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding-top: 15px;
    padding-right: 50px;
}

.fa {
    padding: 30px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin: 7px 10px;
    border-radius: 50%;
}
  
.fa-facebook:hover {
    opacity: 0.4;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-linkedin:hover {
    opacity: 0.4;
}

.fa-instagram {
    background: #a8189c;
    color: white;
}

.fa-instagram:hover {
    opacity: 0.4;
}

.fa-envelope {
    background: none;
    border: solid 1px black;
    color: rgb(0, 0, 0);
}

.fa-envelope:hover {
    opacity: 0.4;
}

.fa-git {
    background: #030003;
    color: white;
}

.fa-git:hover {
    opacity: 0.4;
}

.copywrite {
    width: fit-content;
    justify-content: left;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: small;
}


.service_page_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas:
            "main_content main_content main_content main_content main_content sidebar"
            "card1 card2 card3 card4 card5 sidebar";
        
       
}

.main_content{
    grid-area: main_content;
    background-color: #ffffff;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 20px;
}

.card1 {
    grid-area: card1;
  
    background-color: #ffffff;
    margin: 10px;
}

.card2 {
    grid-area: card2;
    background-color: #ffffff;
   
    margin: 10px;
}

.card3 {
    grid-area: card3;
    background-color: #ffffff;
    
    margin: 10px;
}

.card4 {
    grid-area: card4;
    background-color: #ffffff;
    
    margin: 10px;
}

.card5 {
    grid-area: card5;
    background-color: #ffffff;
    margin: 10px;
}

.card-img-top {
    padding: 20px;
    image-rendering: auto;
}

.card-title {
    padding:20px;
   
    text-align: left;
}

.card-text {
    padding:20px;
    text-align: left;
    }


/* ABOUT PAGE EXTRA STYLING */

.about_container {

    width: 100%;
    display:flex;
    flex-direction: wrap;  
    justify-content: center;
    padding: 20px;
}

.about_text {
    flex: 0 0 65%;
    height: 200px;
    background-color: #ffffff4b;
    padding: 10px;
        margin-top: 3vmin   ;
}


.founding_artists {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 40px;
}

.individual_artists {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px 40px;
    grid-template-areas:
        "artist_box artist_box artist_box"
        "artist_box artist_box artist box"
        "artist_box artist_box artist_box";
    padding: 10px;
}

.artist_box {
        width: 300px;
        height: 300px;
        border: solid 2px #ff838a;
        flex: 0 0 300px;
}


/* CONTACT PAGE */

.company_container {
    display:flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #ffffff;
}

.company_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.talk_to_us {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 50px;
    font-size: xx-large;
    color: #ff838a; 
}

.map {
    width: 405px;
    height: 205px;
    border: solid 3px #ff838a;
}

.message {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 40px;
    font-size: xx-large;
    color: black;
    margin-left: 3vmin;
    margin-bottom: 3vmin;
}


.methods_contact {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 50px;
    padding-bottom: 100px;
}


.phone::before {
    color: #ff838a;
    font-size: xx-large;
   content: "☎"
}

.email::before {
    color: #ff838a;
    font-size: xx-large;
   content: "✉"
}


.location::before {
    color: #ff838a;
    font-size: xx-large;
    content: "✈"
}


.fa-mobile-phone::before {
    margin: 15px;
    font-size: 50px;
}

.fa-envelope {
    margin-left: 15px;
    font-size: 30px;
}

.fa-location-arrow {
    margin-left: 15px;
    font-size: 30px;
}

/* CONTACT INFO*/

/* CONTACT FORM*/
.company_form {
    font-family: "Nanum gothic";
    font-size: x-large;
    font-weight: 500px;
    max-width: 50%;
    flex: 0 0 50%;
    flex-wrap: wrap;
    width: 50%;
    background-color: #ff838a;
    padding: 50px;
    padding-top: 20px;
   
}
  
.company_form * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  .flex-outer li button:hover {
    color: #ff838a;
}
  
  .flex-inner li {
    width: 100px;
  }
