
* {
    font-family: "Nanum gothic", sans-serif;
  
}

:root {
   --maincolour: #e9e7d9;
   --blacktext: #000000; 
   --whitetext: #ffffff;
}
/* Basic Page Styles */

.body {
    width:100%;
    margin: 0;
    padding: 0;
    background-color: var(--maincolour);
    color: #0a0000;
 
}

.nav_bar{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    color: #e9e7d9;
    border-bottom: solid 1px black;
    background-color: darkgray;;
}

header {
    width: 100%;
    border-bottom: solid 1px #ffffff;
}

/*.logo_container {
   
        max-width: 300px;
        flex-wrap: wrap;
        margin: 50px;
    
} */

.navheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: 
    #ffffff;
}

.banner {
    width: 100%;
    text-align: center;
    color: green;
    padding: 30px;
    background-color: white;    
    border-top: solid 2px rgb(255, 255, 255);
}
.banner2 {
    width: 100%;
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  60px;
    background-color:rgb(255, 255, 255);
    border-top: solid 2px rgb(255, 255, 255);
}

nav {
    width: 80%;
    top: 0;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;    
}

nav ul li {
    justify-content: right;
    display: inline-flex;
    margin: 0 20px;
}

nav ul li a {
    font-weight: 300;
    text-decoration: none;
    font-size: medium;
    color: var(--blacktext);
    font-weight: bold;
}

nav ul li a:hover {
    color: #1ecfcf;
}

.text {
    text-align: left;
    width:100%;
    position: absolute;
    top: 8px;
    left: 16px;
    padding: none;
    color:#1ecfcf
    background-color:crimson;
}

.strap {
    width: 100%;
    justify-content: center;

}

.button {
    font-size: medium;
    border-color: #030003;
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin: 20px;
}

.button:hover {
    cursor: pointer;
    background-color: #a8189c;
}

.services_banner {
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color:rgb(255, 255, 255);
    Padding-left: 50px;
    padding-top: 50px;
}

.services {
    flex-wrap: wrap;
    display: flex;  
    width: 50%;
    position: relative;
    justify-content: left;
    background-color: var(--whitetext);
    padding: 40px;
    background-color: aliceblue;
    margin: 20px;

}

.services2 {
    flex-wrap: wrap;
    display: flex;
    width: 65%;
    justify-content: left;
    background-color: var(--whitetext);
    padding-bottom: 40px;
    background-color: aliceblue;


}

.service_box {
    flex: 0 0 300px;
    height: 0 0 200px;
    margin: 10px;
    padding: 25px;
    margin-left: 40px;
    justify-content: center;
    background-color:beige;
    border-color: #4d88944b;
    border: solid 1px #030003;
    border-radius: 15px;
    padding-bottom: 40px;
}

.p1 {
    font-size: 20px;
    padding: 40px;
    line-height: 2.5lh;
}

.p1::before {
    font-size: 50px;
    content: open-quote;
}
    
.p1::after {
    font-size: 50px;
    content: close-quote;
}

p {
    font-size: 20px;
    padding-left: 40px;
    line-height: 2.5lh;
}



.service_box2 {
    flex-wrap: wrap;
    display: block;
    max-width: 100%;
    margin: 10%;
    padding: 20px;
    margin-left: 50px;
    justify-content:space-around;
    background-color: #1ecfcf;
    border-color: #4d88944b;
    font-family: "Nanum gothic";
}

.service_box3 {
    flex-wrap: wrap;
    display: block;
    max-width: 100%;
    margin: 10%;
    padding: 20px;
    justify-content:space-around;
    background-color: #1ecfcf;
    border-color: #4d88944b;
    font-family: "Nanum gothic";
}

.testemonial {
    text-align: end;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}
  
.service_image {
    width: 100%
}

.company_info {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}

.carousel-inner {
    width: 100%;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;

    }

  
    
    .item:active {
       display: inline-block;

    }

    .carousel-indicators{
        display: inline-flex;
        transform: translate(0px);

    }

.active {

    display: flex;
    flex-direction: row;
}

.main_footer {
    width: 100%;
}

/* Footer Styles */
footer {

    background-color:var(--maincolour);
    padding: 10px;
    padding-right: 70px;
}

.navfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.social {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding-top: 15px;
    padding-right: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 7px 10px;
    border-radius: 50%;
}
  
.fa-facebook:hover {
    opacity: 0.4;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-linkedin:hover {
    opacity: 0.4;
}

.fa-instagram {
    background: #a8189c;
    color: white;
}

.fa-instagram:hover {
    opacity: 0.4;
}

.fa-envelope {
    background: none;
    border: solid 1px black;
    color: rgb(0, 0, 0);
}

.fa-envelope:hover {
    opacity: 0.4;
}

.fa-git {
    background: #030003;
    color: white;
}

.fa-git:hover {
    opacity: 0.4;
}

  .copywrite {
    width: fit-content;
    justify-content: left;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: small;
}

.company_contact {
    width: 50%;
    border-right: solid 1px black;
}

.company_container {
    width: 35%;
    justify-content: center;
    margin: 20px;
}

.Phone {
    width: 35%;
    justify-content: center;
    margin: 20px;
}

.Email {
    width: 35%;
    justify-content: center;
    margin: 20px;
}

.Location{
    width: 35%;
    justify-content: center;
    margin: 20px;
}

.Talk_to_us_header {
    text-align: center;
    font-size: xx-large;
    color: blue;
}

.fa-mobile-phone::before {
    margin: 15px;
    font-size: 50px;
}

.fa-envelope {
    margin-left: 15px;
    font-size: 30px;
}

.fa-location-arrow {
    margin-left: 15px;
    font-size: 30px;
}

.service_page_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        grid-template-areas:
            "main_content main_content main_content main_content main_content sidebar"
            "main_content main_content main_content main_content main_content sidebar"
            "card1 card2 card3 card4 card5 sidebar";
        padding: 10px;
       
}

.main_content{
    grid-area: main_content;
    background-color: #966868;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 20px;
}

.card1 {
    grid-area: card1;
    padding: 20px;
    background-color: #ffffff;
    margin: 40px;
}

.card2 {
    grid-area: card2;
    background-color: #ffffff;
    padding: 20px;
    margin: 40px;
}

.card3 {
    grid-area: card3;
    background-color: #ffffff;
    padding: 20px;
    margin: 40px;
}

.card4 {
    grid-area: card4;
    background-color: #ffffff;
    padding: 20px;
    margin: 40px;
}

.card5 {
    grid-area: card5;
    background-color: #ffffff;
    padding: 20px;
    margin: 40px;
}

.card-img-top {
    padding: 20px;
    image-rendering: auto;
    
}

.card-title {
    padding:20px;
   
    text-align: left;
}

.card-text {
    padding:20px;
    text-align: left;
    }


